<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @port_type.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @port_type.type %>
</p>

<%= link_to 'Edit', edit_port_type_path(@port_type) %> |
<%= link_to 'Back', port_types_path %>
