<%= form_for(@panel_model) do |f| %>
  <% if @panel_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel_model.errors.count, "error") %> prohibited this panel_model from being saved:</h2>

      <ul>
      <% @panel_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :numberOfPort %><br>
    <%= f.number_field :numberOfPort %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
