<%= form_for(@network_device) do |f| %>
  <% if @network_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network_device.errors.count, "error") %> prohibited this network_device from being saved:</h2>

      <ul>
      <% @network_device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
